# ---------------------------------------------------------------------
# This is the Caldb configuration file which stores the locations of the
# Calibration Index Files of the Calibration Database.  This file may
# need to be edited when installing a new Caldb.  
#
#
#                      FORMAT OF THIS FILE
#
# Comment lines begin with a '#' character.  All other lines associate a
# given mission and instrument with an Index File and a calibration
# storage directory.
#
# Each non-comment line has seven tokens.  The first two tokens are the
# mission and instrument (these tokens must be entirely in uppercse); 
# the remaining tokens describe the location of the index file and the 
# calibration storage directory in a system independent manner.  Tokens
# 3, 4, and 5 are the device (can also be an environment variable), 
# directory (subdirectories are separated by '/' characters), and file 
# name of the Calibration index file.  Tokens 6 and 7 are the device and
# directory of the calibration storage directory.
#
# For example, a typical line in this file might look like:
#
# HOSR HOSEHD caldb data/hosr/hosehd caldb.indx caldb data/hosr/hosehd
#
# If this file were read on a UNIX machine, then this line would 
# indicate that data for the instrument HOSEHD, of the mission HOSR will 
# be indexed in the file 
#
# /caldb/data/hosr/hosehd/caldb.indx
#
# and the calibration files for this instrument will be located beneath
# the directory
#
# /caldb/data/hosr/hosehd
#
# If this file were read on a VMS machine, then this line would indicate
# that the data for the instrument HOSEHD, of the mission HOSR will be
# indexed in the file
#
# CALDB:[DATA.HOSR.HOSEHD]CALDB.INDX
#
# and the calibration files for this instrument will be located beneath
# the directory
#
# CALDB:[DATA.HOSR.HOSEHD]
#
# Note that on UNIX machines it is possible for the third and sixth
# tokens to be the name of environment variables.  If this is the case
# then the value of the environment variables will be substituted for
# that token.  Using the example above, if the third and sixth tokens
# were 'CALDB' instead of 'caldb' and if the environment variable 
# 'CALDB' were set to /my/home/directory, then the index file would be
# represented as
#
# /my/home/directory/data/hosr/hosehd/caldb.indx
#
# and the storage directory would be
#
# /my/home/directory/data/hosr/hosehd
#
# Data begins after this line...
# ----------------------------------------------------------------------
#
# MISSION INDEPENDENT (GENERAL)
GEN INS CALDB data/gen caldb.indx CALDB data/gen
# ASCA
ASCA GIS2 CALDB data/asca/gis caldb.indx CALDB data/asca/gis
ASCA GIS3 CALDB data/asca/gis caldb.indx CALDB data/asca/gis
ASCA SIS0 CALDB data/asca/sis caldb.indx CALDB data/asca/sis
ASCA SIS1 CALDB data/asca/sis caldb.indx CALDB data/asca/sis
ASCA XRT1 CALDB data/asca/xrt caldb.indx CALDB data/asca/xrt
ASCA XRT2 CALDB data/asca/xrt caldb.indx CALDB data/asca/xrt
ASCA XRT3 CALDB data/asca/xrt caldb.indx CALDB data/asca/xrt
ASCA XRT4 CALDB data/asca/xrt caldb.indx CALDB data/asca/xrt
ASCA INS CALDB data/asca/mis caldb.indx CALDB data/asca/mis
# ROSAT
ROSAT HRI  CALDB data/rosat/hri caldb.indx  CALDB data/rosat/hri
ROSAT PSPCB CALDB data/rosat/pspc caldb.indx CALDB data/rosat/pspc
ROSAT PSPCC CALDB data/rosat/pspc caldb.indx CALDB data/rosat/pspc
ROSAT XRT  CALDB data/rosat/xrt caldb.indx  CALDB data/rosat/xrt
# ARIEL-V
ARIEL5 SSI CALDB data/ariel5/ssi caldb.indx CALDB data/ariel5/ssi
ARIEL5 ASM CALDB data/ariel5/asm caldb.indx CALDB data/ariel5/asm
# BBXRT
BBXRT XRT CALDB data/bbxrt/xrt caldb.indx CALDB data/bbxrt/xrt
BBXRT DET CALDB data/bbxrt     caldb.indx CALDB data/bbxrt
# COSB
COSB INS CALDB data/cosb caldb.indx CALDB data/cosb
# EINSTEIN
EINSTEIN HRI CALDB data/einstein/hri caldb.indx CALDB data/einstein/hri
EINSTEIN IPC CALDB data/einstein/ipc caldb.indx CALDB data/einstein/ipc
EINSTEIN XRT CALDB data/einstein/xrt caldb.indx CALDB data/einstein/xrt
EINSTEIN MPC CALDB data/einstein/mpc caldb.indx CALDB data/einstein/mpc
EINSTEIN SSS CALDB data/einstein/sss caldb.indx CALDB data/einstein/sss
EINSTEIN OGS CALDB data/einstein/ogs caldb.indx CALDB data/einstein/ogs
# EXOSAT
EXOSAT LE   CALDB data/exosat/le   caldb.indx CALDB data/exosat/le
EXOSAT GSPC CALDB data/exosat/gspc caldb.indx CALDB data/exosat/gspc
EXOSAT ME   CALDB data/exosat/me   caldb.indx CALDB data/exosat/me
# GINGA
GINGA LAC CALDB data/ginga/lac caldb.indx CALDB data/ginga/lac
GINGA ASM CALDB data/ginga/asm caldb.indx CALDB data/ginga/asm
GINGA GBD CALDB data/ginga/gbd caldb.indx CALDB data/ginga/gbd
# VELA5B
VELA5B ASM CALDB data/vela5b/asm caldb.indx CALDB data/vela5b/asm
# HEAO-1
HEAO-1 A1 CALDB data/heao1/a1 caldb.indx CALDB data/heao1/a1
HEAO-1 A2 CALDB data/heao1/a2 caldb.indx CALDB data/heao1/a2
HEAO-1 A3 CALDB data/heao1/a3 caldb.indx CALDB data/heao1/a3
HEAO-1 A4 CALDB data/heao1/a4 caldb.indx CALDB data/heao1/a4
# CGRO
CGRO BATSE   CALDB data/cgro/batse   caldb.indx CALDB data/cgro/batse
CGRO COMPTEL CALDB data/cgro/comptel caldb.indx CALDB data/cgro/comptel
CGRO EGRET   CALDB data/cgro/egret   caldb.indx CALDB data/cgro/egret
CGRO OSSE    CALDB data/cgro/osse    caldb.indx CALDB data/cgro/osse
# XTE
XTE  PCA     CALDB data/xte/pca      caldb.indx CALDB data/xte/pca
XTE  HEXTE   CALDB data/xte/hexte    caldb.indx CALDB data/xte/hexte
XTE  ASM     CALDB data/xte/asm      caldb.indx CALDB data/xte/asm
# SAX
SAX  LECS    CALDB data/sax/lecs     caldb.indx CALDB data/sax/lecs
SAX  MECS    CALDB data/sax/mecs     caldb.indx CALDB data/sax/mecs
SAX  PDS     CALDB data/sax/pds      caldb.indx CALDB data/sax/pds
#
#CHANDRA
#
CHANDRA ACIS CALDB data/chandra/acis caldb.indx CALDB data/chandra/acis
CHANDRA HRC CALDB data/chandra/hrc caldb.indx CALDB data/chandra/hrc
CHANDRA SIM CALDB data/chandra/sim caldb.indx CALDB data/chandra/sim
CHANDRA PCAD CALDB data/chandra/pcad caldb.indx CALDB data/chandra/pcad
CHANDRA TEL CALDB data/chandra/tel caldb.indx CALDB data/chandra/tel
CHANDRA EPHIN CALDB data/chandra/ephin caldb.indx CALDB data/chandra/ephin
